* {
     margin: 0;
    /*padding: 0;*/ 
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.head {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
}

.logo {
    font-size: 30px;
    color: rgb(0, 7, 70);
    text-decoration: none;

    font-family:'emanuela';
}

.navbar a {
    font-size: 18px;
    color: cornsilk;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: aqua;
}

.home {
    height: 100vh;
    background: linear-gradient(-90deg, #031540 65%, rgb(255, 226, 192) 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.home-image {
    width: 400px;
    height: 400px;
    background: #031540;
    border-radius: 50%;
    border: 25px solid rgb(255, 226, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 25px solid #031540;
    overflow: hidden;
}

.home-image img {
    position: relative;
    object-fit: cover;
    max-width: 400px;
    transition: 5s;
}

.home-image:hover img {
    max-width: 400px;
    background: rgb(255, 226, 192);
}


.home-content {
    max-width: 600px;
    color: #fff;
    text-align: right;
}

.home-content h1 {
    font-size: 55px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 40px;
    color: #6245e2;
}

.home-content p {
    font-size: 16px;
    text-align: justify;
    margin-top: 20px;
}

.Downloadcv {
    margin-top: 20px;
    background-color: rgb(0, 162, 255);
    padding: 10px;

    border-radius: 20px;
    justify-items: center;
}

.Downloadcv a{
    text-decoration: none;
    color: #000;
}
#about {
    background: rgb(241, 203, 162);
    font-size: 16px;
    padding: 10px;
}

.abouthead {
   
    font-size: 25px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.aboutp1 {
    text-indent: 200px;
    line-height: 1.8;
    text-align: justify;

}

.aboutp2 {
    text-indent: 200px;
   
}

#skillsheading {
   
    text-align: center;
}
.skill {
    display: flex;
    justify-content: center; 
    align-items: center; 

}
.skill > div  {
    background-color: #f1f1f1;
    padding: 20px;
    align-items: center;
    font-size: 30px;
}

#services {
    background-color: #ffdfb5;
padding: 20px;
}
.services-title {
    text-align: center;
}

#services li {
margin-bottom: 10px;
}

#contact{
    background-color: antiquewhite;
}
fieldset{
    justify-content: center;
    width: 90px;
}